@import "../../../theme/styles/themes";
@import "../../../../../node_modules/@nebular/theme/styles/core/mixins";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../../node_modules/@nebular/theme/styles/global/breakpoints";
@include nb-install-component() {
  /deep/ .langs-switcher-list {
    padding: 1rem 2rem 1.25rem 0.5rem;
    margin: 0;
    @include nb-ltr(text-align, start);
    @include nb-rtl(text-align, end);
    .langs-switcher-item {
      list-style: none;
      cursor: pointer;
      &:hover span {
        opacity: 0.5;
      }
      span {
        font-weight: 300;
        vertical-align: super;
        padding-left: 1rem;
        color: nb-theme(color-fg-heading);
      }
    }
  }
  @include media-breakpoint-down(is) {
    /deep/ .langs-switcher-list {
      display: none;
    }
  }
}
