@import '../../../theme/styles/themes';

.langs-switcher-list {
  padding: 0;
  margin: 0;
  .langs-switcher-item {
    list-style: none;
    padding: 0.75rem 1rem;
    cursor: pointer;
    .langs-switcher-item-container {
      font-family: Open Sans, sans-serif;
      font-size: 0.8125rem;
      font-weight: 600;
      line-height: 1.5rem;
      padding: 0.75rem 1rem;
    }
    &:hover {
      background-color: transparent;
      color: nb-theme(color-primary-default);
      cursor: pointer;
    }
  }
}
