<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <div class="container row">
                    <div class="md-12 d-flex justify-content-center">
                        <h2 class="title">
                            {{ '404.title' | translate }}
                        </h2>
                    </div>
                    <div class="md-12 d-flex justify-content-center">
                        <small class="sub-title">
                            {{ '404.subTitle' | translate }}
                        </small>
                    </div>
                    <div class="md-12 d-flex justify-content-center">
                        <button nbButton status="primary" (click)="goToHome()">
                            {{ 'general.home' | translate }}
                        </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>