<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/core/users']">
                Usuarios
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Crear Usuario
        </li>
    </ol>
</nav>
<nb-card>
    <nb-card-header>
        <div class="row show-grid">
            <div class="col-md-10">
                <h2>
                    Crear Usuario
                </h2>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form class="form-horizontal">
            <div class="form-group row">
                <label for="inputID" class="col-sm-3 form-control-label">
                    ID
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputID" placeholder="ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputName" class="col-sm-3 form-control-label">
                    Nombres
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputName" placeholder="Nombres">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputLastName" class="col-sm-3 form-control-label">
                    Apellidos
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputLastName" placeholder="Apellidos">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 form-control-label">
                    Correo Electronico
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Correo Electronico">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmailConfirm" class="col-sm-3 form-control-label">
                    Confirmar Correo Electronico
                </label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmailConfirm" placeholder="Confirmar Correo Electronico">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmailConfirm" class="col-sm-3 form-control-label">
                    Confirmar Correo Electronico
                </label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmailConfirm" placeholder="Confirmar Correo Electronico">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 form-control-label">
                    Contraseña
                </label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPasswordConfirm" class="col-sm-3 form-control-label">
                    Confirmar Contraseña
                </label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Confirmar Contraseña">
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="float-right">
            <button nbButton class="btn-secondary mr-2">
                Cerrar
            </button>
            <button nbButton>
                Crear
            </button>
        </div>
    </nb-card-footer>
</nb-card>