<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/core/users']">
                {{ 'users.users' | translate }}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ 'users.create.title' | translate }}
        </li>
    </ol>
</nav>
<nb-card>
    <nb-card-header>
        <div class="row show-grid">
            <div class="col-md-10">
                <h2>
                    {{ 'users.create.title' | translate }}
                </h2>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form class="form-horizontal">
            <div class="form-group row">
                <label for="inputID" class="col-sm-3 form-control-label">
                    {{ 'users.view.id' | translate }}
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputID" placeholder="{{ 'users.view.id' | translate }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputName" class="col-sm-3 form-control-label">
                    {{ 'users.view.name' | translate }}
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputName" placeholder="{{ 'users.view.name' | translate }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputLastName" class="col-sm-3 form-control-label">
                    {{ 'users.view.lastName' | translate }}
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputLastName" placeholder="{{ 'users.view.lastName' | translate }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 form-control-label">
                    {{ 'users.view.email' | translate }}
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail" placeholder="{{ 'users.view.email' | translate }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmailConfirm" class="col-sm-3 form-control-label">
                    {{ 'users.view.emailConfirm' | translate }}
                </label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmailConfirm" placeholder="{{ 'users.view.emailConfirm' | translate }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 form-control-label">
                    {{ 'users.view.password' | translate }}
                </label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword" placeholder="{{ 'users.view.password' | translate }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPasswordConfirm" class="col-sm-3 form-control-label">
                    {{ 'users.view.passwordConfirm' | translate }}
                </label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="{{ 'users.view.passwordConfirm' | translate }}">
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="float-right">
            <button nbButton class="btn-secondary mr-2">
                {{ 'general.create' | translate }}
            </button>
            <button nbButton>
                {{ 'general.close' | translate }}
            </button>
        </div>
    </nb-card-footer>
</nb-card>