<h1 id="title" class="title">
    {{ 'auth.register.title' | translate }}
</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" status="danger" role="alert">
    <p class="alert-title">
        <b>{{ 'general.errors.title' | translate }}</b>
    </p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">
            {{ error | translate }}
        </li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" status="success" role="alert">
    <p class="alert-title">
        <b>{{ 'general.messages.title' | translate }}</b>
    </p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">
            {{ message | translate }}
        </li>
    </ul>
</nb-alert>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

    <div class="form-control-group">
        <label class="label" for="input-name">
            {{ 'users.view.name' | translate }}
        </label>
        <input nbInput [(ngModel)]="user.name" #name="ngModel" id="input-name" name="name" placeholder="{{ 'users.view.name' | translate }}"
            autofocus fullWidth [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : ''" [required]="getConfigValue('forms.validation.name.required')"
            [minlength]="getConfigValue('forms.validation.name.minLength')" [maxlength]="getConfigValue('forms.validation.name.maxLength')"
            [attr.aria-invalid]="name.invalid && name.touched ? true : null">
        <ng-container *ngIf="name.invalid && name.touched">
            <p class="error-message" *ngIf="name.errors?.required">
                {{ 'auth.register.errors.requiredName' | translate }}
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-last-name">
            {{ 'users.view.lastName' | translate }}
        </label>
        <input nbInput [(ngModel)]="user.lastName" #lastName="ngModel" id="input-last-name" name="lastName" placeholder="{{ 'users.view.lastName' | translate }}"
            autofocus fullWidth [status]="lastName.dirty ? (lastName.invalid  ? 'danger' : 'success') : ''" [required]="getConfigValue('forms.validation.lastName.required')"
            [minlength]="getConfigValue('forms.validation.lastName.minLength')" [maxlength]="getConfigValue('forms.validation.lastName.maxLength')"
            [attr.aria-invalid]="lastName.invalid && lastName.touched ? true : null">
        <ng-container *ngIf="lastName.invalid && lastName.touched">
            <p class="error-message" *ngIf="lastName.errors?.required">
                {{ 'auth.register.errors.requiredLastName' | translate }}
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-email">
            {{ 'users.view.email' | translate }}
        </label>
        <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" name="email" pattern=".+@.+..+"
            placeholder=" {{ 'users.view.email' | translate }}" fullWidth [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
            [required]="getConfigValue('forms.validation.email.required')" [attr.aria-invalid]="email.invalid && email.touched ? true : null">
        <ng-container *ngIf="email.invalid && email.touched">
            <p class="error-message" *ngIf="email.errors?.required">
                {{ 'auth.logIn.errors.requiredEmail' | translate }}
            </p>
            <p class="error-message" *ngIf="email.errors?.pattern">
                {{ 'auth.logIn.errors.invalidEmail' | translate }}
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-password">
            {{ 'users.view.password' | translate }}
        </label>
        <input nbInput [(ngModel)]="user.password" #password="ngModel" type="password" id="input-password" name="password"
            placeholder="{{ 'users.view.password' | translate }}" fullWidth [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
            [required]="getConfigValue('forms.validation.password.required')" [minlength]="getConfigValue('forms.validation.password.minLength')"
            [maxlength]="getConfigValue('forms.validation.password.maxLength')" [attr.aria-invalid]="password.invalid && password.touched ? true : null">
        <ng-container *ngIf="password.invalid && password.touched">
            <p class="error-message" *ngIf="password.errors?.required">
                {{ 'auth.logIn.errors.requiredPassword' | translate }}
            </p>
            <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                {{ 'auth.logIn.errors.invalidPassword' | translate:
                {
                minLength: getConfigValue('forms.validation.password.minLength'),
                maxLength: getConfigValue('forms.validation.password.maxLength')
                }
                }}
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-re-password">
            {{ 'users.view.passwordConfirm' | translate }}
        </label>
        <input nbInput [(ngModel)]="user.confirmPassword" #rePass="ngModel" type="password" id="input-re-password" name="rePass"
            placeholder="{{ 'users.view.passwordConfirm' | translate }}" fullWidth [status]="email.dirty ? (email.invalid || password.value != rePass.value  ? 'danger' : 'success') : ''"
            [required]="getConfigValue('forms.validation.password.required')" [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
        <ng-container *ngIf="rePass.invalid && rePass.touched">
            <p class="error-message" *ngIf="rePass.errors?.required">
                {{ 'auth.register.errors.requiredPasswordConfirm' | translate }}
            </p>
            <p class="error-message" *ngIf="password.value != rePass.value && !rePass.errors?.required">
                {{ 'auth.register.errors.notMatchPasswordConfirm' | translate }}
            </p>
        </ng-container>
    </div>

    <div class="form-control-group accept-group" *ngIf="getConfigValue('forms.register.terms')">
        <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="getConfigValue('forms.register.terms')">
            {{ 'general.accept' | translate }}
            <a href="#" target="_blank">
                <strong>
                    {{ 'auth.register.messages.termsAndConditions' | translate }}
                </strong>
            </a>
        </nb-checkbox>
    </div>

    <button nbButton fullWidth status="success" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
        {{ 'auth.register.title' | translate }}
    </button>
</form>

<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
    <div class="socials">
        <ng-container *ngFor="let socialLink of socialLinks">
            <a *ngIf="socialLink.link" [routerLink]="socialLink.link" [attr.target]="socialLink.target" [attr.class]="socialLink.icon"
                [class.with-icon]="socialLink.icon">
                {{ socialLink.title }}
            </a>
            <a *ngIf="socialLink.url" [attr.href]="socialLink.url" [attr.target]="socialLink.target" [attr.class]="socialLink.icon"
                [class.with-icon]="socialLink.icon">
                {{ socialLink.title }}
            </a>
        </ng-container>
    </div>
</section>

<section class="another-action" aria-label="Sign in">
    {{ 'auth.register.messages.alreadyHaveAndAccount' | translate }}
    <a class="text-link" routerLink="../login">
        {{ 'auth.logIn.title' | translate }}
    </a>
</section>