<div class="header-container">
    <div class="logo-containter">
        <a (click)="toggleSidebar()" href="#" class="navigation">
        </a>
        <div class="logo" (click)="goToHome()">
            Logo
        </div>
    </div>
    <app-switcher [icon]="['fas', 'magic']" [title]="'theme.themes'" [switcherListComponent]="themeSwitcherListComponent"></app-switcher>
</div>
<div class="header-container">
    <app-switcher [icon]="['fas', 'language']" [title]="lang" [switcherListComponent]="langSwitcherListComponent"></app-switcher>
    <nb-actions size="medium">
        <nb-action>
            <nb-user name="Jonh Doe" title="Engineer" [nbContextMenu]="userMenu"></nb-user>
        </nb-action>
    </nb-actions>
</div>