<div class="header">
    <div class="header-container">
        <div class="logo-containter mr-3">
            <a (click)="toggleSidebar()" href="#" class="navigation border-right pr-3 mr-3">
                <nb-icon icon="menu-outline"></nb-icon>
            </a>
            <a class="logo" (click)="goToHome()">
                <div class="svg" [inlineSVG]="'assets/svg/univalle_blanco.svg'"></div>
            </a>
        </div>
    </div>
    <div class="header-container">
        <app-switcher [icon]="['color-palette-outline']" [title]="'theme.' + theme.currentTheme "
            [switcherListComponent]="themeSwitcherListComponent"></app-switcher>
        <nb-actions *ngIf="user !== null && user !== undefined" size="medium">
            <nb-action>
                <nb-user [name]="userFullName" [title]="user.nickname" [nbContextMenu]="userMenu"></nb-user>
            </nb-action>
        </nb-actions>
    </div>
</div>