<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-header>
                <nav class="navigation">
                    <app-switcher [icon]="['fas', 'language']" [title]="lang" [switcherListComponent]="langSwitcherListComponent"
                        class="float-right"></app-switcher>
                </nav>
            </nb-card-header>
            <nb-card-body>
                <nb-auth-block class="container">
                    <router-outlet></router-outlet>
                </nb-auth-block>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>