<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-header>
                <nav class="navigation">
                    <a href="#" (click)="back()" class="link" aria-label="Back">
                        <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
                    </a>
                </nav>
                <app-lang-switcher></app-lang-switcher>
            </nb-card-header>
            <nb-card-body>
                <nb-auth-block>
                    <router-outlet></router-outlet>
                </nb-auth-block>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>