<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-header>
                <div class="row show-grid">
                    <div class="col-md-10">
                        <h2>
                            {{ 'users.create.title' | translate }}
                        </h2>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <form class="form-horizontal" (ngSubmit)="update()" [formGroup]="form"
                    *ngIf="isForm | async as isForm;">
                    <div class="form-group row">
                        <label for="id" class="col-sm-3 form-control-label">
                            {{ 'users.view.id' | translate }}
                        </label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" class="form-control" id="id"
                                placeholder="{{ 'users.view.id' | translate }}" formControlName="id"
                                [status]="getStatus(form, 'id')">
                            <app-input-error [controlName]="'id'" [errorKeys]="['required']">
                                {{ 'users.create.errors.requiredID' | translate }}
                            </app-input-error>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 form-control-label">
                            {{ 'users.view.name' | translate }}
                        </label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" class="form-control" id="name"
                                placeholder="{{ 'users.view.name' | translate }}" formControlName="name"
                                [status]="getStatus(form, 'name')">
                            <app-input-error [controlName]="'name'" [errorKeys]="['required']">
                                {{ 'auth.register.errors.requiredName' | translate }}
                            </app-input-error>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3 form-control-label">
                            {{ 'users.view.lastName' | translate }}
                        </label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" class="form-control" id="lastName"
                                placeholder="{{ 'users.view.lastName' | translate }}" formControlName="lastName"
                                [status]="getStatus(form, 'lastName')">
                            <app-input-error [controlName]="'lastName'" [errorKeys]="['required']">
                                {{ 'auth.register.errors.requiredLastName' | translate }}
                            </app-input-error>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 form-control-label">
                            {{ 'users.view.email' | translate }}
                        </label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" class="form-control" id="email"
                                placeholder="{{ 'users.view.email' | translate }}" formControlName="email"
                                [status]="getStatus(form, 'email')">
                            <app-input-error [controlName]="'email'" [errorKeys]="['required']">
                                {{ 'auth.logIn.errors.requiredEmail' | translate }}
                            </app-input-error>
                            <app-input-error [controlName]="'email'" [errorKeys]="['email']">
                                {{ 'auth.logIn.errors.invalidEmail' | translate }}
                            </app-input-error>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="emailConfirm" class="col-sm-3 form-control-label">
                            {{ 'users.view.emailConfirm' | translate }}
                        </label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="email" class="form-control" id="emailConfirm"
                                placeholder="{{ 'users.view.emailConfirm' | translate }}" formControlName="emailConfirm"
                                [status]="getStatus(form, 'emailConfirm')">
                            <app-input-error [controlName]="'emailConfirm'" [errorKeys]="['required']">
                                {{ 'users.create.errors.requiredEmailConfirm' | translate }}
                            </app-input-error>
                            <app-input-error [controlName]="'emailConfirm'" [errorKeys]="['email']">
                                {{ 'auth.logIn.errors.invalidEmail' | translate }}
                            </app-input-error>
                            <p class="text-danger mt-2"
                                *ngIf="form.controls.email.value != form.controls.emailConfirm.value && !form.controls.emailConfirm.errors?.required">
                                {{ 'users.create.errors.notMatchPasswordConfirm' | translate }}
                            </p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-sm-3 form-control-label">
                            {{ 'users.view.password' | translate }}
                        </label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="password" class="form-control" id="password"
                                placeholder="{{ 'users.view.password' | translate }}" formControlName="password"
                                [status]="getStatus(form, 'password')">
                            <app-input-error [controlName]="'password'" [errorKeys]="['required']">
                                {{ 'auth.logIn.errors.requiredPassword' | translate }}
                            </app-input-error>
                            <app-input-error [controlName]="'password'" [errorKeys]="['minlength', 'maxlength']">
                                {{ 'auth.logIn.errors.invalidPassword' | translate:
                                            {
                                            minLength: getConfigValue('forms.validation.password.minLength'),
                                            maxLength: getConfigValue('forms.validation.password.maxLength')
                                            } }}
                            </app-input-error>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwordConfirm" class="col-sm-3 form-control-label">
                            {{ 'users.view.passwordConfirm' | translate }}
                        </label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="password" class="form-control" id="passwordConfirm"
                                placeholder="{{ 'users.view.passwordConfirm' | translate }}"
                                formControlName="passwordConfirm" [status]="getStatus(form, 'passwordConfirm')">
                            <app-input-error [controlName]="'passwordConfirm'" [errorKeys]="['required']">
                                {{ 'auth.register.errors.requiredPasswordConfirm' | translate }}
                            </app-input-error>
                            <p class="text-danger mt-2" *ngIf="form.controls.password.value != form.controls.passwordConfirm.value && 
                                !form.controls.passwordConfirm.errors?.required">
                                {{ 'auth.register.errors.notMatchPasswordConfirm' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputRoles" class="col-sm-3 form-control-label">
                            {{ 'users.view.roles' | translate }}
                        </label>
                        <div class="col-sm-9">
                            <nb-select multiple placeholder="{{ 'users.view.roles' | translate }}"
                                formControlName="role">
                                <nb-option disables>
                                    {{ 'users.view.roles' | translate }}
                                </nb-option>
                                <nb-option [value]="role.value" *ngFor="let role of roles">
                                    {{ role.title }}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="float-right">
                        <button nbButton type="submit" [disabled]="form.invalid">
                            {{ 'general.create' | translate }}
                        </button>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>