<div class="header-container">
    <div class="logo-containter">
        <a (click)="toggleSidebar()" href="#" class="navigation">
            <fa-icon [icon]="['fas', 'bars']"></fa-icon>
        </a>
        <div class="logo" (click)="goToHome()">
            Logo
        </div>
    </div>
    <app-theme-switcher></app-theme-switcher>
</div>
<div class="header-container">
    <nb-actions size="medium">
        <nb-action>
            <nb-user name="Jonh Doe" title="Engineer" [nbContextMenu]="userMenu"></nb-user>
        </nb-action>
    </nb-actions>
</div>