@import "../../../../theme/styles/themes";
@include nb-install-component() {
  .sales-chart {
    display: block;
    min-height: nb-theme(card-height-medium);
    width: 100%;
  }
  chart {
    display: block;
    min-height: nb-theme(card-height-medium);
    height: 100%;
    width: 100%;
  }
}
