<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-header>
                <div class="row show-grid">
                    <div class="col-md-10">
                        <h2>
                            {{ 'users.users' | translate }}
                        </h2>
                    </div>
                    <div class="col-md-2">
                        <button nbButton class="float-right btn" [routerLink]="['/core/users/create']">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            {{ 'users.create.title' | translate }}
                        </button>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEdit($event)" (delete)="onDelete($event)">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>