@import "../../../theme/styles/themes";
@include nb-install-component() {
  .border {
    border: 1px solid #ffffff !important;
  }
  .border-right {
    border-right: 1px solid #ffffff !important;
  }
  .border-left {
    border-left: 1px solid #ffffff !important;
  }
  .border-top {
    border-top: 1px solid #ffffff !important;
  }
  .border-bottom {
    border-bottom: 1px solid #ffffff !important;
  }
  .switcher {
    display: flex;
    font-size: 1.25rem;
    padding: 0.8rem 1.25rem;
    align-items: center;
    cursor: pointer;
    span {
      margin: 0 1.2rem;
      font-weight: normal;
      font-size: nb-theme(text-subtitle-font-size);
    }
  }
}
