@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
// Override Boootstrap variables here...
// Use http://scg.ar-ch.org/ for pallet
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
// @nebular theming framework
@import "../../../../node_modules/@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "../../../../node_modules/@nebular/theme/styles/themes";
$nb-enabled-themes: (default, dark);

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
  (
    color-primary-100: #fee4d6,
    color-primary-200: #fdc3ae,
    color-primary-300: #fa9a86,
    color-primary-400: #f67367,
    color-primary-500: #f03636,
    color-primary-600: #ce2735,
    color-primary-700: #ac1b34,
    color-primary-800: #8b1130,
    color-primary-900: #730a2e,
    color-primary-transparent-100: rgba(240, 54, 54, 0.08),
    color-primary-transparent-200: rgba(240, 54, 54, 0.16),
    color-primary-transparent-300: rgba(240, 54, 54, 0.24),
    color-primary-transparent-400: rgba(240, 54, 54, 0.32),
    color-primary-transparent-500: rgba(240, 54, 54, 0.4),
    color-primary-transparent-600: rgba(240, 54, 54, 0.48),
    color-success-100: #f3fcd3,
    color-success-200: #e4faa8,
    color-success-300: #cdf27a,
    color-success-400: #b5e658,
    color-success-500: #92d626,
    color-success-600: #75b81b,
    color-success-700: #5b9a13,
    color-success-800: #437c0c,
    color-success-900: #326607,
    color-success-transparent-100: rgba(146, 214, 38, 0.08),
    color-success-transparent-200: rgba(146, 214, 38, 0.16),
    color-success-transparent-300: rgba(146, 214, 38, 0.24),
    color-success-transparent-400: rgba(146, 214, 38, 0.32),
    color-success-transparent-500: rgba(146, 214, 38, 0.4),
    color-success-transparent-600: rgba(146, 214, 38, 0.48),
    color-info-100: #cafdf8,
    color-info-200: #97fbf8,
    color-info-300: #62ebf3,
    color-info-400: #3bd1e7,
    color-info-500: #02add8,
    color-info-600: #0187b9,
    color-info-700: #01659b,
    color-info-800: #00487d,
    color-info-900: #003467,
    color-info-transparent-100: rgba(2, 173, 216, 0.08),
    color-info-transparent-200: rgba(2, 173, 216, 0.16),
    color-info-transparent-300: rgba(2, 173, 216, 0.24),
    color-info-transparent-400: rgba(2, 173, 216, 0.32),
    color-info-transparent-500: rgba(2, 173, 216, 0.4),
    color-info-transparent-600: rgba(2, 173, 216, 0.48),
    color-warning-100: #fefacf,
    color-warning-200: #fdf4a1,
    color-warning-300: #fbea71,
    color-warning-400: #f7e04d,
    color-warning-500: #f2d115,
    color-warning-600: #d0b00f,
    color-warning-700: #ae900a,
    color-warning-800: #8c7206,
    color-warning-900: #745c04,
    color-warning-transparent-100: rgba(242, 209, 21, 0.08),
    color-warning-transparent-200: rgba(242, 209, 21, 0.16),
    color-warning-transparent-300: rgba(242, 209, 21, 0.24),
    color-warning-transparent-400: rgba(242, 209, 21, 0.32),
    color-warning-transparent-500: rgba(242, 209, 21, 0.4),
    color-warning-transparent-600: rgba(242, 209, 21, 0.48),
    color-danger-100: #fdd6d4,
    color-danger-200: #fcaaad,
    color-danger-300: #f77e8f,
    color-danger-400: #ef5d7f,
    color-danger-500: #e52b69,
    color-danger-600: #c41f66,
    color-danger-700: #a41561,
    color-danger-800: #840d58,
    color-danger-900: #6d0852,
    color-danger-transparent-100: rgba(229, 43, 105, 0.08),
    color-danger-transparent-200: rgba(229, 43, 105, 0.16),
    color-danger-transparent-300: rgba(229, 43, 105, 0.24),
    color-danger-transparent-400: rgba(229, 43, 105, 0.32),
    color-danger-transparent-500: rgba(229, 43, 105, 0.4),
    color-danger-transparent-600: rgba(229, 43, 105, 0.48),
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    color-primary-100: #fee4d6,
    color-primary-200: #fdc3ae,
    color-primary-300: #fa9a86,
    color-primary-400: #f67367,
    color-primary-500: #f03636,
    color-primary-600: #ce2735,
    color-primary-700: #ac1b34,
    color-primary-800: #8b1130,
    color-primary-900: #730a2e,
    color-primary-transparent-100: rgba(240, 54, 54, 0.08),
    color-primary-transparent-200: rgba(240, 54, 54, 0.16),
    color-primary-transparent-300: rgba(240, 54, 54, 0.24),
    color-primary-transparent-400: rgba(240, 54, 54, 0.32),
    color-primary-transparent-500: rgba(240, 54, 54, 0.4),
    color-primary-transparent-600: rgba(240, 54, 54, 0.48),
    color-success-100: #f3fcd3,
    color-success-200: #e4faa8,
    color-success-300: #cdf27a,
    color-success-400: #b5e658,
    color-success-500: #92d626,
    color-success-600: #75b81b,
    color-success-700: #5b9a13,
    color-success-800: #437c0c,
    color-success-900: #326607,
    color-success-transparent-100: rgba(146, 214, 38, 0.08),
    color-success-transparent-200: rgba(146, 214, 38, 0.16),
    color-success-transparent-300: rgba(146, 214, 38, 0.24),
    color-success-transparent-400: rgba(146, 214, 38, 0.32),
    color-success-transparent-500: rgba(146, 214, 38, 0.4),
    color-success-transparent-600: rgba(146, 214, 38, 0.48),
    color-info-100: #cafdf8,
    color-info-200: #97fbf8,
    color-info-300: #62ebf3,
    color-info-400: #3bd1e7,
    color-info-500: #02add8,
    color-info-600: #0187b9,
    color-info-700: #01659b,
    color-info-800: #00487d,
    color-info-900: #003467,
    color-info-transparent-100: rgba(2, 173, 216, 0.08),
    color-info-transparent-200: rgba(2, 173, 216, 0.16),
    color-info-transparent-300: rgba(2, 173, 216, 0.24),
    color-info-transparent-400: rgba(2, 173, 216, 0.32),
    color-info-transparent-500: rgba(2, 173, 216, 0.4),
    color-info-transparent-600: rgba(2, 173, 216, 0.48),
    color-warning-100: #fefacf,
    color-warning-200: #fdf4a1,
    color-warning-300: #fbea71,
    color-warning-400: #f7e04d,
    color-warning-500: #f2d115,
    color-warning-600: #d0b00f,
    color-warning-700: #ae900a,
    color-warning-800: #8c7206,
    color-warning-900: #745c04,
    color-warning-transparent-100: rgba(242, 209, 21, 0.08),
    color-warning-transparent-200: rgba(242, 209, 21, 0.16),
    color-warning-transparent-300: rgba(242, 209, 21, 0.24),
    color-warning-transparent-400: rgba(242, 209, 21, 0.32),
    color-warning-transparent-500: rgba(242, 209, 21, 0.4),
    color-warning-transparent-600: rgba(242, 209, 21, 0.48),
    color-danger-100: #fdd6d4,
    color-danger-200: #fcaaad,
    color-danger-300: #f77e8f,
    color-danger-400: #ef5d7f,
    color-danger-500: #e52b69,
    color-danger-600: #c41f66,
    color-danger-700: #a41561,
    color-danger-800: #840d58,
    color-danger-900: #6d0852,
    color-danger-transparent-100: rgba(229, 43, 105, 0.08),
    color-danger-transparent-200: rgba(229, 43, 105, 0.16),
    color-danger-transparent-300: rgba(229, 43, 105, 0.24),
    color-danger-transparent-400: rgba(229, 43, 105, 0.32),
    color-danger-transparent-500: rgba(229, 43, 105, 0.4),
    color-danger-transparent-600: rgba(229, 43, 105, 0.48),
  ),
  dark,
  dark
);
