<div class="footer">
    <div class="footer-container container">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <h2>{{ 'footer.heading' | translate }}</h2>
                <div class="svg" [inlineSVG]="'assets/svg/univalle_blanco.svg'"></div>
            </div>
            <div class="col-lg-6 col-xs-12 location">
                <h4>{{ 'footer.location' | translate }}</h4>
                <p>{{ 'footer.phone' | translate }}</p>
                <p>{{ 'footer.ext' | translate }}</p>
                <p>{{ 'footer.building' | translate }}</p>
                <p>{{ 'footer.campus' | translate }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class=""><small>© 2021. Todos los derechos reservados.</small></p>
            </div>
        </div>
    </div>
</div>