<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-header>
                <div class="row show-grid">
                    <div class="col-md-10">
                        <h2>
                            {{ 'users.users' | translate }}
                        </h2>
                    </div>
                    <div class="col-md-2">
                        <button nbButton class="float-right btn" [routerLink]="['/core/users/create']">
                            {{ 'users.create.title' | translate }}
                        </button>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <table datatable class="row-border hover">
                    <thead>
                        <tr>
                            <th>{{ 'users.view.id' | translate }}</th>
                            <th>{{ 'users.view.name' | translate }}</th>
                            <th>{{ 'users.view.lastName' | translate }}</th>
                            <th>{{ 'users.view.email' | translate }}</th>
                            <th>{{ 'users.view.roles' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>