<app-breadcrumb>
    <li class="breadcrumb-item">
        <a [routerLink]="['/core/users/profile']">
            {{ 'users.profile' | translate }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ 'users.view.basicInformation' | translate }}
    </li>
</app-breadcrumb>

<nb-card>
    <nb-card-header>
        {{ 'users.view.basicInformation' | translate }}
    </nb-card-header>
    <nb-card-body>
        <form class="form-horizontal" [formGroup]="form" *ngIf="isForm | async as isForm;">
            <app-field [id]="'id'" [label]="'users.view.id'" [readonly]="true" formControlName="id" name="'id'"
                ngDefaultControl>
            </app-field>
            <app-field [id]="'name'" [label]="'users.view.name'" [type]="'text'" formControlName="name"
                [template]="nameTemplate" [status]="getStatus(form, 'name')" name="'name'" ngDefaultControl>
            </app-field>
            <ng-template #nameTemplate>
                <app-input-error [controlName]="'name'" [errorKeys]="['required']">
                    {{ 'auth.register.errors.requiredName' | translate }}
                </app-input-error>
            </ng-template>
            <app-field [id]="'lastName'" [label]="'users.view.lastName'" [type]="'text'" formControlName="lastName"
                [template]="lastNameTemplate" [status]="getStatus(form, 'lastName')" name="'lastName'" ngDefaultControl>
            </app-field>
            <ng-template #lastNameTemplate>
                <app-input-error [controlName]="'lastName'" [errorKeys]="['required']">
                    {{ 'auth.register.errors.requiredLastName' | translate }}
                </app-input-error>
            </ng-template>
            <app-field [id]="'email'" [label]="'users.view.email'" [type]="'email'" formControlName="email"
                [template]="emailTemplate" [status]="getStatus(form, 'email')" name="'email'" ngDefaultControl>
            </app-field>
            <ng-template #emailTemplate>
                <app-input-error [controlName]="'email'" [errorKeys]="['required']">
                    {{ 'auth.logIn.errors.requiredEmail' | translate }}
                </app-input-error>
                <app-input-error [controlName]="'email'" [errorKeys]="['email']">
                    {{ 'auth.logIn.errors.invalidEmail' | translate }}
                </app-input-error>
            </ng-template>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="float-right">
            <button nbButton [disabled]="form.invalid">
                {{ 'general.update' | translate }}
            </button>
        </div>
    </nb-card-footer>
</nb-card>