@import '../../../theme/styles/themes';
@include nb-install-component() {
    .chart-container {
        flex: 1;
        min-height: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}