@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
// Override Boootstrap variables here...
$theme-colors: ();
@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";
// @nebular theming framework
@import "../../../../../node_modules/@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "../../../../../node_modules/@nebular/theme/styles/themes";
$nb-enabled-themes: (default, cosmic, corporate);
// Register default theme
$nb-themes: nb-register-theme(
  (
    chart-panel-summary-background-color: #ecf2f5,
    chart-panel-summary-border-color: #ebeff1,
    chart-panel-summary-border-width: 1px,
    chart-panel-summary-box-shadow: none,
    context-menu-active-bg: var(--primary),
    context-menu-border: var(--primary),
    font-main:
      unquote('"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif'),
    font-secondary:
      unquote('"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif'),
    layout-content-width: 1400px,
    link-color: var(--primary),
    link-color-hover: var(--primary),
    menu-active-fg: white !important,
    menu-active-bg: var(--primary) !important,
    menu-icon-font-size: 1.5rem !important,
    menu-icon-margin: 0 1.5rem 0 !important,
    menu-submenu-active-border-color: var(--primary) !important,
    menu-submenu-hover-fg: white !important,
    menu-submenu-hover-bg: var(--primary) !important,
    menu-submenu-item-border-radius: 0,
    sidebar-header-gap: 2rem,
    sidebar-header-height: initial,
    switcher-background: #ebeff5,
    switcher-background-percentage: 50%,
    smart-table-header-font-size: 1rem !important,
    smart-table-font-size: 1.5 rem !important,
    tabs-selected: var(--primary)
  ),
  default,
  default
);
// Register cosmic theme
$nb-themes: nb-register-theme((), cosmic, cosmic);
// Register corporate theme
$nb-themes: nb-register-theme((), corporate, corporate);
// Custom global styles here...
// Use this way only if there are no existing nebular theme variables!
.nb-theme-default nb-menu .menu-item a:hover .menu-icon,
.nb-theme-cosmic nb-menu .menu-item a:hover .menu-icon,
.nb-theme-corporate nb-menu .menu-item a:hover .menu-icon {
  color: white !important;
}
.nb-theme-default nb-menu .menu-item a.active .menu-icon,
.nb-theme-cosmic nb-menu .menu-item a.active .menu-icon,
.nb-theme-corporate nb-menu .menu-item a.active .menu-icon {
  color: white !important;
}
